body {
	font-size: 12px;
	font-family: Verdana;
}

li {
	list-style: none;
}

.submenu {
	ul {
		li {

		}
		li.selected {
			background: #eee;
			ul {
				li.selected {
					background: #ddd;
					ul {
						li.selected {
							background: #ccc;
						}
					}
				}
			}
		}
	}
}

.checked {
	font-weight: bold;

}

.test:before {
	content: "(";
}
.test:after {
	content: ")";
}

.open {
	background: url(toggle-expand.png) no-repeat;
	height: 16px;
	width: 16px;
	display:inline-block;
	cursor: pointer;
	position: absolute;
	left: 200px;
}

.close {
	background: url(toggle-close.png) no-repeat;
	height: 16px;
	width: 16px;
	display: inline-block;
	cursor: pointer;
	position: absolute;
	left: 200px;
}